h1{
    color: rgb(3, 228, 161);
    font-size: 600;
    padding-top: 30px;
    text-decoration: 5px solid rgb(3, 160, 212) underline;
}

h3{
    color:aqua;
    font-size: medium;
    padding-top: 20px;
}
.color{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid white;
}
.green{
    background-color: green;
    position: absolute;
    left:150px;
    top: 170px;
}
.yellow{
    background-color:yellow;
    position: absolute;
    left:150px;
    top: 320px;
}
.red{
    background-color: red;
    position: absolute;
    left: 300px;
    top: 320px;
}
.blue{
    background-color: blue;
    position: absolute;
    left: 300px;
    top: 170px;
}
#outer{
    text-align: center;
    border-radius: 50%;
    background-color: black;
    height: 600px;
    width: 600px;
    z-index:-1;
}

.yellow:active{
     box-shadow: 3px 3px 20px white;
}
.green:active{
   box-shadow: 3px 3px 20px white;
}
.red:active{
     box-shadow: 3px 3px 20px white;
}
.blue:active{
    box-shadow: 3px 3px 20px white;
}
.flash{
    background-color: white;
}
.flashingBody{
    background-color: red;
}
    